.Title,
.Images,
.Mainarticle,
.Table {
    margin-left: 10%;
    margin-right: 10%;
    align-content: center;
}

header img {
    max-width: 9%;
    max-height: 9%;
}

header {
    background-color: rgb(130, 201, 230);
    background-image: url(/img/pattern.png);
    background-size: 25% 250%;
    padding: 2%;
}

h1 {
    font-size: 40px;
    margin-bottom: 0;
}

.Title p {
    margin-top: 0;
    color: rgb(144, 140, 143);
}

.Title strong {
    color: rgb(25, 136, 163)
}

.Images p {
    margin-top: 0px;
    font-size: 12px;
}

.Mainarticle strong {
    background-color: rgb(255, 243, 17);
    font-weight: unset;
}

table {
    text-align: left;
}

thead {
    background-color: rgb(81, 116, 204);
    color: white;
}

.oddrow {
    background-color: rgb(176, 218, 255);

}

footer {
    text-align: center;
    color: white;
    background-color: rgb(42, 42, 112);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 1px;
    width: 100%;
}